/* src/components/Navbar.css */
.navbar {
    background: #333;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.navbar-logo {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-item {
    margin: 0 10px;
}

.nav-links {
    color: #fff;
    text-decoration: none;
}

.navbar-logo-img {
    width: 120px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}
